RewriteEngine On
RewriteBase /webapps/php2/public

# Route all requests to index.php
RewriteCond %{REQUEST_URI} !^/webapps/php2/
RewriteRule ^(.*)$ index.php [L]

# Prevent direct access to specific folder
RewriteRule ^(folder_to_prevent_access)/ - [F]
